# Ignore all R Project files (including the main file)
*.Rproj

# Ignore all user-specific R project metadata
.Rproj.user/

# Ignore data folders
data/
Data/

# EXCEPTION data folder for ass1_3 will be published to git
!*ass1_3/data/
!*ass1_3/Data/

# History files
.Rhistory
.Rapp.history

# Session data files
.RData
.RDataTmp

# User-specific project settings (The main metadata culprit)
.Rproj.user/

# Specific folder
# Crygwin scripting materials
tutorial_data

# ass4 specific files
consumer_complaints.zip
property_transaction_victoria.zip
Task_C_Datasets.zip
.Rproj.user

# md files
USER.md
MEMORY.md
SOUL.md

