# Ignore all R Project files (including the main file)
*.Rproj

# Ignore all user-specific R project metadata
.Rproj.user/

# Ignore data folders
*data/
*Data/

# History files
.Rhistory
.Rapp.history

# Session data files
.RData
.RDataTmp

# User-specific project settings (The main metadata culprit)
.Rproj.user/

# ass4 specific files
consumer_complaints.zip
property_transaction_victoria.zip
Task_C_Datasets.zip